@font-face {
    font-family: "bold";
    src: url(/fonts/bold.woff2) format("woff2");
}

@font-face {
    font-family: "regular";
    src: url(/fonts/regular.woff2) format("woff2");
}

@font-face {
    font-family: "semibold";
    src: url(/fonts/semibold.woff2) format("woff2");
}

body {
    background-color: black;
    margin: 0;
    font-family: "regular"
}

a {
    text-decoration: none;
}

a.nav {
    border-bottom: rgb(255, 255, 255, 0.5) 1px solid;
    padding-bottom: .3rem;
    font-size: 1.2rem
}

ul {
    background: black;
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-family: "semibold";
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    border-bottom: #fff 1px solid;
    margin-bottom: 4vw
}

.home {
    margin-left: -4vw;
}

.right1 {
    margin-right: -12vw
}

.right2 {
    margin-right: -6vw;
}

.accessibility {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.nav {
}

li {
    color: #fff;
    background: black;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

form {
    margin-bottom: 0.5rem;
}

li a {
    color: #fff;
}

li:hover,
li:focus-within {
    background: red;
    cursor: pointer;
}

li:focus-within a {
    outline: none;
}

ul li ul {
    background: rgb(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}

.footer p {
    font-size: 15px;
    display: flex;
    align-items: flex-start;
    margin: auto 0;
}

.footer a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    transition: color 200ms ease-in; 
}

.contact h3 {
    font-size: 25px;
    margin-bottom: 0.3rem;
}

.footer a:hover {
    color: gray;
}

.contact textarea {
    display: flex;
    width: 98.4%;
}

.engine-content {
    background-image: url(images/Hexagon-backround.png);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    color: white;
    display: inline-block;
    padding: 0.5rem;
    border: #B62431 solid 2px;
}

.engine {
    display: flex;
    height: 15vh;
    width: 60%;
}

.engine img {
    --shape: 20% 0%, 80% 0%, 100% 50%, 80% 100%, 20% 100%, 0% 50%;
    clip-path: polygon(var(--shape));
    height: 15vh;
}

.footer {
    position: fixed;
    bottom: 0;
    border-top: solid white 3px;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 100%;
    background-color: black;
    padding-bottom: 1rem;
}

.contact {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    padding: 0.5rem;
}

input, textarea {
    background-color:rgb(255, 255, 255, 0.3);
    border: none;
    border-radius: .2rem;
    font-family: "rehular" ;
}

input::placeholder, textarea::placeholder {
    color: white;
    text-indent: .2vw;
} 