@font-face {
    font-family: "bold";
    src: url(/fonts/bold.woff2) format("woff2");
}

@font-face {
    font-family: "regular";
    src: url(/fonts/regular.woff2) format("woff2");
}

@font-face {
    font-family: "semibold";
    src: url(/fonts/semibold.woff2) format("woff2");
}

body {
    background-color: black;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    background: black;
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-family: "semibold";
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.home {
    margin-top: .4vh;
    margin-left: -4vw;
}

.nav {
    margin-left: -10vw;
}

li {
    color: #fff;
    background: black;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

li a {
    color: #fff;
}

li:hover,
li:focus-within {
    background: red;
    cursor: pointer;
}

li:focus-within a {
    outline: none;
}

ul li ul {
    background: rgb(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}
